name: Go

on:
  workflow_call:
    inputs:
      go-version:
        required: false
        type: string
        default: 'stable'
      test:
        required: false
        type: boolean
        default: true
      race:
        required: false
        type: boolean
        default: true

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    if: inputs.test || inputs.race
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Test
            flags: ''
            enabled: ${{ inputs.test }}
          - name: Test (race)
            flags: '-race'
            enabled: ${{ inputs.race }}
        exclude:
          - enabled: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ inputs.go-version }}'
      - name: Run repo-specific setup
        uses: ./.github/actions/go-test-setup
        if: hashFiles('./.github/actions/go-test-setup') != ''
      - name: Run tests
        run: go test ${{ matrix.flags }} ./...